<!-- SIDEBAR -->
<aside class="w-56 min-h-screen bg-white py-6 px-4 shadow">
  <!-- OPCIONES -->
  <ul class="space-y-2">
    <!-- Dashboard -->
    <li>
      <a href="{% url 'dashboard' %}"
        class="flex items-center gap-3 px-4 py-2 rounded-lg transition
   {% if request.resolver_match.url_name == 'dashboard' %}
          
      bg-[#6A2973] text-white translate-x-1

        {% else %}
          
      hover:bg-[#6A2973] hover:text-white hover:translate-x-1

        {% endif %}">
        <i class="bi bi-graph-up text-lg"></i> Dashboard
      </a>
    </li>

    <!-- Accidentes -->
    <li>
      <a href="{% url 'accidentes' %}"
        class="flex items-center gap-3 px-4 py-2 rounded-lg transition
   {% if request.resolver_match.url_name == 'accidentes' %}
          
      bg-[#6A2973] text-white translate-x-1

        {% else %}
          
      hover:bg-[#6A2973] hover:text-white hover:translate-x-1

        {% endif %}">
        <i class="bi bi-journal-bookmark text-lg"></i> Accidentes
      </a>
    </li>

    <!-- GESTIÓN -->
    <li>
      <a href="{% url 'gestion' %}"
        class="flex items-center gap-3 px-4 py-2 rounded-lg transition
   {% if request.resolver_match.url_name == 'gestion' %}
          
      bg-[#6A2973] text-white translate-x-1

        {% else %}
          
      hover:bg-[#6A2973] hover:text-white hover:translate-x-1

        {% endif %}">
        <i class="bi bi-folder text-lg"></i> Gestión
      </a>
    </li>

    <!-- Configuración -->
    <li>
      <a href="#" class="flex items-center gap-3 px-4 py-2 rounded-lg transition hover:bg-[#6A2973] hover:text-white hover:translate-x-1"><i class="bi bi-gear text-lg"></i> Configuración</a>
    </li>
  </ul>
</aside>
