{% load static %}
<script src="{% static 'ACC/js/loader.js' %}"></script>
<script src="{% static 'ACC/js/modal_acc.js' %}"></script>
<script src="{% static 'ACC/js/subir_img.js' %}"></script>
<script src="{% static 'ACC/js/subir_img_final.js' %}"></script>
<script src="{% static 'ACC/js/listar.js' %}"></script>
<script src="{% static 'ACC/js/eliminar_acc.js' %}"></script>
<script src="{% static 'ACC/js/modal_proveedor.js' %}"></script>
<script src="{% static 'ACC/js/modal_edit.js' %}"></script>
<script src="{% static 'ACC/js/finalizar_acc.js' %}"></script>
<script src="{% static 'ACC/js/busqueda.js' %}"></script>
